<!DOCTYPE html>
<html>
    <head>
        <title>eyefind_chart</title>
        <!-- <link rel="stylesheet" href="..\static\CSS\web_2.css"/> -->
    </head>
    <body style="margin: 0;">
        <!-- <nav id="nav_bar">
            <div class="logo_background">
            <img src="..\static\img\Eyefind.info-GTA4-logo.jpg" class="logo"/>
                <div class="input">
                    <input type="text" placeholder="Search"/>
                    <input type="button" name="search" value="RANDOM" class="search_btn"/>
                </div>
             </div>
        </nav> -->
        <h1>此頁面施工中</h1>
    <!-- <script src="..\static\js\web_2.js"></script> -->
    </body>
</html>