<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>log in</title>
    </head>
<body>
    <h2>使用者登錄</h2>
    <form method="">
        <label for="username">使用者名稱:</label><br>
        <input type="text" id="username" name="username" ><br>
        <label for="password">密碼:</label><br>
        <input type="password" id="password" name="password"><br>
        <input type="submit" value="登錄">
    </form>
</body>
</html>

