<!DOCTYPE html>
<html>
    <head>
        <title>eyefind_shop</title>
        <link rel="stylesheet" herf="..\static\CSS\web_2.css"/>
    </head>
    <body style="margin: 0;">
        <nav id="nav_bar">
            <div class="logo_background">
            <img src="..\static\img\Eyefind.info-GTA4-logo.jpg" class="logo"/>
                <div class="input">
                    <input type="text" placeholder="Search"/>
                    <input type="button" name="search" value="RANDOM" class="search_btn"/>
                </div>
             </div>
        </nav>





    </body>
</html>