<!DOCTYPE html>
<html>
    <head>
        <title>eyefind.info</title>
        <link rel="stylesheet" href="..\static\CSS\web.css"/>
    </head>
    <body style="margin: 0;">
        <!-- <img src="..\static\img\Eyefind.info-GTA4-logo.jpg" id="logo">  -->
        <nav id="nav_bar">
            <div class="logo_background">
                <img src="..\static\img\Eyefind.info-GTA4-logo.jpg" class="logo">
                <div class="input">
                    <input type="text" placeholder="Search">
                    <input type="button" name="search" value="RANDOM">
                </div>
            </div>
            <div class="logo_background_2"></div>
            <div class="nav_table">
                <table class="table" border="1px">
                    <tr>
                        <td>Media and<br>Entertainment</td>
                        <td>Food<br>and Drink</td>
                        <td>Money<br>and Service</td>
                        <td>Travel<br>and Transport</td>
                        <td>Fasion<br>and Health</td>
                    </tr>
                </table>
                <div class="ADs">
                    <img src="..\static\img\images.jpg" class="motor_works">
                    <img src="..\static\img\images.jpg" class="motor_works_2">
                    <img src="..\static\img\images.jpg" class="motor_works_3">
                    
                </div>
            </div>
        </nav>
     
    </body>
</html>