.logo{
    width : 180px;
    margin-left: 80px;
    margin-top: 30px;
}
.logo_background{
    height : 170px;
    background-color:rgb(68, 132, 204);
}
.logo_background_2{
    height : 10px;
    background-color:rgb(230, 213, 23);
}
.table{
    border: solid black 1px;
    table-layout: fixed;
    width:100%;
    height: 60px;
    font-size: 16px;
    text-align: center;
    background-color: rgb(235, 235, 230);
    cursor: pointer;
}
input[type='text']{
    position: relative;
    width: 50%;
    height:35px
}
input[type="button"]{
    position: relative;
    height: 39px;
    width: 100px;
    background-color: rgb(11, 98, 161);
    margin-left: 10px;
    border-radius: 6px;
    color: white;
    text-align: center;
}
.input{
    margin-top: 10px; ;
    display:flex;
    justify-content: center;
}
.motor_works{
    /* margin-top: 60px;。 */
    position: relative;
    display: inline-block;
    margin-top: 60px;
    margin-left: 130px;
    padding-top: 40px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    background-color: rgb(68, 132, 204);
    border-top: 6px solid rgb(230, 213, 23);
    width: 400px;
}
.motor_works_2{
    /* margin-top: 60px;。 */
    position: relative;
    display: inline-block;
    margin-top: 60px;
    margin-left: 15px;
    padding-top: 40px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    background-color: rgb(68, 132, 204);
    border-top: 6px solid rgb(230, 213, 23);
    width: 390px;
}
.motor_works_3{
    /* margin-top: 60px;。 */
    position: relative;
    display: inline-block;
    margin-top: 60px;
    margin-left: 15px;
    padding-top: 40px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    background-color: rgb(68, 132, 204);
    border-top: 6px solid rgb(230, 213, 23);
    width: 400px;
}
.Media:hover{
    background-color: rgb(200, 200, 197);
}
.Food:hover{
    background-color: rgb(200, 200, 197);
}
.Money:hover{
    background-color: rgb(200, 200, 197);
}
.Travel:hover{
    background-color: rgb(200, 200, 197);
}
.Fashion:active{
    background-color: rgb(188, 188, 185);
}
.Media:active{
    background-color: rgb(188, 188, 185);
}
.Food:active{
    background-color: rgb(188, 188, 185);
}
.Money:active{
    background-color: rgb(188, 188, 185);
}
.Travel:active{
    background-color: rgb(188, 188, 185);
}
.Fashion:active{
    background-color: rgb(188, 188, 185);
}
.search_btn{
    cursor: pointer;
}