.logo{
    width : 180px;
    margin-left: 5rem;
    margin-top: 2rem;
    cursor: pointer;
}
.logo_background{
    height : 170px;
    background-color:rgb(68, 132, 204);
}
.logo_background_2{
    height : 10px;
    background-color:rgb(230, 213, 23);
}
input[type='text']{
    position: relative;
    width: 50%;
    height:35px
}
input[type="button"]{
    position: relative;
    height: 39px;
    width: 100px;
    background-color: rgb(11, 98, 161);
    margin-left: 1rem;
    border-radius: 0.5rem;
    color: white;
    text-align: center;
    cursor: pointer;
}
.input{
    margin-top: 0.5rem; ;
    display:flex;
    justify-content: center;
}