<!DOCTYPE html>
<html>
    <head>
        <title>eyefind_chart</title>
        <!-- <link rel="stylesheet" href="..\static\CSS\web_2.css"/> -->
    </head>
    <body style="margin: 0;">
        <!-- <nav id="nav_bar">
            <div class="logo_background">
            <img src="..\static\img\Eyefind.info-GTA4-logo.jpg" class="logo"/>
                <div class="input">
                    <input type="text" placeholder="Search"/>
                    <input type="button" name="search" value="RANDOM" class="search_btn"/>
                </div>
             </div>
        </nav> -->
      <!--TODO設計好購物車-->
        <h1>Shopping Cart</h1>
        <div id="cart-container">
            <!-- 購物車內容將在此動態加載 -->
        </div>
    <script src="..\static\js\web_2.js"></script>
    </body>
</html>