<!DOCTYPE html>
<html>
    <head>
        <title>eyefind.info</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/CSS/fashion.css"/>
    </head>
    <body style="margin: 0;">
        <nav id="nav_bar">
            <div class="logo_background">
                <img src="../static/img/Eyefind.info-GTA4-logo.jpg" class="logo">
                <div class="input">
                    <input type="text" placeholder="Search">
                </div>
            </div>
            <div id="loginSection">
                {% if message %}
                        <p id="welcomMsg">Hi {{ message }}</p>
                        <form action="{{ url_for('logout') }}" method="post">
                            <button type="submit" class="logout">登出</button>
                        </form>
                        <button class="cart" onclick="goToCart()">購物車</button>
                        <!-- <a href="/Web_2"><img src="../static/img/cart.png" width="100" class="cart" onclick="goToCart()"/></a> -->
                {% else %}
                    <p id="signUp" onclick="signup()">註冊</p>
                    <p id="LogIn" onclick="login()">登錄</p>
                {% endif %}
            </div>
            <div class="logo_background_2"></div>
            <div class="nav_table">
            </div>
        </nav>
        <div class="image-row">
            <div>
                <img src="../static/img/f1.jpg" class="p1">
                <p class="p1"><a href="https://www.vogue.com.tw/fashion/article/sustainable-fashion-guide" class="p1-link">永續時尚終極指南！時尚永續發展重要資訊和迷思破解全收錄</a></p>

            </div>
            <div>
                <img src="../static/img/f2.jpg" class="p2">
                <p class="p2"><a href="https://www.social-lab.cc/2017/11/industry-report/%E6%B4%9E%E5%AF%9F%E5%A0%B1%E5%91%8A%E3%80%8B%E5%B8%AD%E6%8D%B2%E5%85%A8%E7%90%83%E7%9A%84%E5%BF%AB%E6%99%82%E5%B0%9A%E7%82%AB%E9%A2%A8-%E4%BA%94%E5%A4%A7%E7%86%B1%E9%96%80%E5%BF%AB%E6%99%82%E5%B0%9A/" class="p1-link">洞察報告》席捲全球的快時尚炫風—五大熱門快時尚品牌排行榜- Social Lab社群實驗室</a></p>

            </div>
            <div>
                <img src="../static/img/f3.jpg" class="p3">
                <p class="p1"><a href="https://ent.ltn.com.tw/news/paper/1415186" class="p1-link">時尚大道】衣線之間（上）服裝設計的初心線條與細節的美感平衡</a></p>
            </div>
            <div>
                <img src="../static/img/f4.jpg" class="p4">
                <p class="p1"><a href="https://hkmovie6.com/movie/364892ad-5d43-4611-b8f6-eec239ba16b4" class="p1-link">旺角卡門</a></p>
            </div>
        </div>
        <script src="../static/js/fashion.js"></script>
    </body>
</html>
