<!DOCTYPE html>
<html>
    <head>
        <title>eyefind.info</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/CSS/food.css"/>
    </head>
    <body style="margin: 0;">
        <nav id="nav_bar">
            <div class="logo_background">
                <p id="signUp" onclick="signup()">註冊</p>
                <p id="LogIn" onclick="login()">登錄</p>
                <img src="../static/img/Eyefind.info-GTA4-logo.jpg" class="logo">
                <div class="input">
                    <input type="text" placeholder="Search">
                </div>
            </div>
            <div class="logo_background_2"></div>
            <div class="nav_table">
            </div>
        </nav>
        <h1 class="h1">歐美食物</h1>
        <div class="image-row">
            <div>
                <a href="https://www.mcdelivery.com.tw/tw/browse/menu.html?utm_source=google&utm_medium=display&utm_campaign=cp~convenience-mds-alwayson_sd~2024&utm_content=at~awpmax_dt~pc&gad_source=1&gclid=CjwKCAjwvIWzBhAlEiwAHHWgvQrOf8c6-H_6Yyfvi5A3BrJkqlPWz9AEDcQMC5I3c7ex7wOw39T7OxoCgtgQAvD_BwE"><img src="../static/img/m.png" class="p1"></a>

            </div>
            <div>                
                <a href="https://www.kfcclub.com.tw/menu/hot-meal?mid=168&gad_source=1&gclid=CjwKCAjwvIWzBhAlEiwAHHWgvc3kp1LD3RN63iGpnuj4vqO-5hBv05JWkhWgHaczjU8ByINqlaX1RhoCcsoQAvD_BwE"><img src="../static/img/kfc.png" class="p2"></a>

            </div>
            <div>                
                <a href="https://www.pizzahut.com.tw/?gad_source=1&gclid=CjwKCAjwvIWzBhAlEiwAHHWgvYGr6iRoALPtmvs58uDkDM-ADiO83RMejxmvYhbdlheo0haRCerBoBoCke4QAvD_BwE&gclsrc=aw.ds" ><img src="../static/img/pizza.png" class="p3"></a>
            </div>
            <div>
                <a href="https://www.yum.com/wps/portal/yumbrands/Yumbrands/company/our-brands/taco-bell"><img src="../static/img/taco.png" class="p4"></a>
            </div>
        </div>
        <h2 class="h2">東方食物</h2>
        <div class="image-row">
            <div>
                <a href="http://m.cnfoodsafety.com/zixun/20190418/39764.html"><img src="../static/img/fkese.jpg" class="p1"></a>

            </div>
            <div>                
                <a href=""><img src="../static/img/wn.jpg" class="p2"></a>

            </div>
            <div>                
                <a href="https://www.durianstate.com/" ><img src="../static/img/ll.jpg" class="p3"></a>
            </div>
            <div>
                <a href="https://www.skylark.co.jp/zh-CHT/totoyamichi/menu/menu_detail.html?mid=108_27"><img src="../static/img/shit.jpg" class="p4"></a>
            </div>
        </div>
        <script src="../static/js/food.js"></script>
    </body>
</html>
