<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>signup</title>
        <link rel="stylesheet" href="..\static\CSS\signup.css"/>
    </head>
    <body style="margin:0;">
        {% if message %}
    <script>
        alert("{{ message }}"); 
    </script>
     {% endif %}
        <nav id="nav_bar">
            <div class="logo_background">
            <img src="..\static\img\Eyefind.info-GTA4-logo.jpg" class="logo" />
                <div class="input">
                    <input type="text" placeholder="Search"/>
                    <input type="button" name="search" value="RANDOM" class="search_btn"/>
                </div>
             </div>
             <div class="logo_background_2"></div>
        </nav>
        <div class="container">
            <div class="form-container">
                <h1>Register</h1>
                <form action="/signup" method="post">
                    <label for="username">名稱:</label>
                    <input type="text" name="username" id="user" required><br>
                    <label for="password">密碼:</label>
                    <input type="password" name="password" required><br>
                    <input type="submit" value="註冊">
                    <div ><p>已有帳號嗎?</p><botton onclick="login()" id='login'>登錄</botton></div>
                </form>
                
            </div>
        </div>
        <script src="..\static\js\signup.js"></script>
    </body>
</html>