<!DOCTYPE html>
<html>
    <head>
        <title>eyefind.info</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/CSS/travel.css"/>
    </head>
    <body style="margin: 0;">
        <nav id="nav_bar">
            <div class="logo_background">
                <img src="../static/img/Eyefind.info-GTA4-logo.jpg" class="logo">
                <div class="input">
                    <input type="text" placeholder="Search">
                </div>
            </div>
            <div id="loginSection">
                {% if message %}
                        <p id="welcomMsg">Hi {{ message }}</p>
                        <form action="{{ url_for('logout') }}" method="post">
                            <button type="submit" class="logout">登出</button>
                        </form>
                        <button class="cart" onclick="goToCart()">購物車</button>
                        <!-- <a href="/Web_2"><img src="../static/img/cart.png" width="100" class="cart" onclick="goToCart()"/></a> -->
                {% else %}
                    <p id="signUp" onclick="signup()">註冊</p>
                    <p id="LogIn" onclick="login()">登錄</p>
                {% endif %}
            </div>
            <div class="logo_background_2"></div>
            <div class="nav_table">
            </div>
        </nav>
        <div class="image-row">
            <div>
                <img src="../static/img/lc.jpg" class="p1">
                <p class="p1"><a href="https://www.youtube.com/watch?v=DfSQfJ3SM_k" class="p1-link">北美專區</a></p>

            </div>
            <div>
                <img src="../static/img/eu.jpg" class="p2">
                <p class="p2"><a href="../static/img/nz.jpg" class="p1-link">歐洲專區</a></p>

            </div>
            <div>
                <img src="../static/img/dd.jpg" class="p3">
                <p class="p1"><a href="https://www.youtube.com/watch?v=oTjFbKJYkkw" class="p1-link">亞洲專區</a></p>
            </div>
            <div>
                <img src="../static/img/zd.jpg" class="p4">
                <p class="p1"><a href="../static/img/free.jpg" class="p1-link">中東專區</a></p>
            </div>
        </div>
        <script src="../static/js/travel.js"></script>
    </body>
</html>
