<!DOCTYPE html>
<html>
    <head>
        <title>eyefind_shop</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/CSS/web_2.css"/>
    </head>
    <body style="margin: 0;">
        <nav id="nav_bar">
            <div class="logo_background">
                <img src="../static/img/Eyefind.info-GTA4-logo.jpg" class="logo" onclick="web1_()"/>
                <div class="input">
                    <input type="text" placeholder="Search"/>
                    <input type="button" name="search" value="RANDOM" class="search_btn"/>
                </div>
                <div id="loginSection">
                    {% with message = get_flashed_messages() %}
                    {% if message %}
                        {% for messages in message %}
                            <p id="welcomMsg">Hi {{ messages }}</p>
                            <form action="{{ url_for('logout') }}" method="post">
                                <button type="submit" class="logout">登出</button>
                            </form>
                        {% endfor %}
                    {% else %}
                        <p id="signUp" onclick="signup()">註冊</p>
                        <p id="LogIn" onclick="login()">登錄</p>
                    {% endif %}
                    {% endwith %}
                </div>
            </div>
            <div class="logo_background_2"></div>
        </nav>
        <div id='table_container'>
            <div class="filter">
                <label for="brand">品牌：</label>
                <select id="brand">
                    <option value="All">All</option>
                    <option value="BMW">BMW</option>
                    <option value="Audi">Audi</option>
                    <option value="Mercedes-Benz">Mercedes-Benz</option>
                </select>
                <label for="priceRange">價格範圍：</label>
                <select id="priceRange">
                    <option value="0-999999999">All</option>
                    <option value="0-1000000">低於 $1,000,000</option>
                    <option value="1000000-1300000">$1,000,000 - $1,300,000</option>
                    <option value="1300000-1500000">$1,300,000 - $1,500,000</option>
                    <option value="1500000-2000000">$1,500,000 - $2,000,000</option>
                </select>
                <button onclick="applyFilter()">篩選</button>
            </div>
            <table id="table_1" border="3px" class="BMW"><!--TODO商品加入購物車--><!--TODO如果可以，讓價格更多樣化-->
                <tr>
                    <td><a href="Web_2.html"><img src="../static/img/M2.jpg" width="200"/></a></td>
                    <td><a href="Web_2.html"><img src="../static/img/M4.jpg" width="200"/></a></td>
                    <td><a href="Web_2.html"><img src="../static/img/M5.jpg" width="200"/></a></td>
                </tr>
                <tr>
                    <td>BMW M2 - $1,000,000</td>
                    <td>BMW M4 - $1,200,000</td>
                    <td>BMW M5 - $1,500,000</td>
                </tr>
                <tr class="buy">
                    <td><button onclick="M2()">加入購物車</button></td>
                    <td><button onclick="M4()">加入購物車</button></td>
                    <td><button onclick="M5()">加入購物車</button></td>
                </tr>
            </table>
            <table id="table_2" border="3px" class="Audi">
                <tr>
                    <td><a href="Web_2.html"><img src="../static/img/audiA4.jpg" width="200"/></a></td>
                    <td><a href="Web_2.html"><img src="../static/img/audiA3.jpg" width="200"/></a></td>
                    <td><a href="Web_2.html"><img src="../static/img/AudiA1.jpg" width="200"/></a></td>
                </tr>
                <tr>
                    <td>Audi A4 - $1,100,000</td>
                    <td>Audi A3 - $900,000</td>
                    <td>Audi A1 - $800,000</td>
                </tr>
                <tr class="buy">
                    <td><button onclick="A4()">加入購物車</button></td>
                    <td><button onclick="A3()">加入購物車</button></td>
                    <td><button onclick="A1()">加入購物車</button></td>
                </tr>
            </table>
            <table id="table_3" border="3px" class="Mercedes-Benz">
                <tr>
                    <td><a href="Web_2.html"><img src="../static/img/c200.jpg" width="200"/></a></td>
                    <td><a href="Web_2.html"><img src="../static/img/c250.jpg" width="200"/></a></td>
                    <td><a href="Web_2.html"><img src="../static/img/c300.jpg" width="200"/></a></td>
                </tr>
                <tr>
                    <td>Benz c200 - $1,300,000</td>
                    <td>Benz c250 - $1,400,000</td>
                    <td>Benz c300 - $1,600,000</td>
                </tr>
                <tr class="buy">
                    <td><button onclick="c200()">加入購物車</button></td>
                    <td><button onclick="c250()">加入購物車</button></td>
                    <td><button onclick="c300()">加入購物車</button></td>
                </tr>
            </table>
        </div>
        <script src="../static/js/web_2.js"></script>
    </body>
</html>
